.LinkTable {
    margin-left: 15px;
    max-width: 805px;
}

td > a {
    color: #1D7E9D;
}


td > div {
    display: inline-block;
    max-width: 405px;
    overflow: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.prompt {

    border-radius: 5px !important;
    -webkit-border-radius: 5px 5px 5px 5px!important;
    -moz-border-radius: 5px 5px 5px 5px!important;
 
}

.ResourceActionFrame {
    overflow: auto;
}