/* @media (max-width: 40em) {
  .SideBar {
    display: none;
  }
} */

.lightlink{
  color: #d7d7d7;
}  

.darklink a {
  color: #000000;
} 

.SideBar {
  width: 230px;
  height: 100vh;
  background-color: #151515;
  border-color: #979797;
  border-style: solid;
  border-width: 0px 1px;
  /* margin-top: -75px; */
  float: left;
  z-index: 5;
  position: relative;
}

.Workspace {
  width: 228px;
  height: 75px;
  background-color: #151515;
}

.WorkspaceName {
  padding: 0px;
  margin-left: 0px;
  color: #efefef;
  /* text-align: left; */
  font-family: 'Lato', 'Rotobo','Segoe UI', Verdana, sans-serif;
  font-size: 1.0em;
  overflow-wrap: normal;
  font-weight: 600;
  width: 160px;
  height: 75px;
  display: table;
}

.CompanyName {
  /* padding-top: 20px; */
  display: table-cell;
  vertical-align: middle;
  word-break:break-all;
  text-align: center;
}

.WorkspaceLogo {
  margin-top: 10px;
  margin-left: 165px;
  position: absolute;
  height: 50px;
  width: 50px;
  border: solid;
  border-width: 2px;
  border-color: #2fc7f8;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
  /* background-image: url("../Assets/Graphics/temp.png"); */
  background-size: cover;
background-repeat: no-repeat;
  background-position: center; 
}



.UserProfile {
  width: 220px;
  height: 35px;
  background-color: #2fc7f8;
  color: #ffffff;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px 0px 100px;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 5px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 3px 1px 0px #15596f;
}

.UserName {

  color: #552f10d7;
  height: 35px;
  padding-top: 7px;
  padding-left: 15px;
  width: 175px;
  float: left;
}

.UserSettingsDropdown {
  color: #104455;
  width: 18px;
  margin-right: 15px;
  padding-top: 7px;
  float: right;
  margin-top: 0px;
}
.UserSettingsTrigger {
  position: fixed;
  margin-left: -180px;
  height: 20px;
  width: 200px;
}

.Container {
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.ChannelList {
  margin-top: 10px;
  max-height: 350px;
  overflow-y: auto;
}

.NavItemFrame {
  height: 30px;
  width: 100%;
  transition: 0.3s;
  padding-top: 0px;
  display: inline-flex;
}

.NavItemText {
  margin-left: 5px;
  margin-top: 5px;
}

.NavItemIcon {
  color: #2fc7f8;
  margin-left: 15px;
  line-height: 30px;
}

.NavItemFrame:hover {
  background-color: #104455;
  color: #d7d7d7;
}


.ChannelHeader {
  color: #2fc7f8;
  height: 30px;
  padding-left: 15px;
  width: 230;
  padding-bottom: 15px;
  display: "inline";
}

.ChannelAdd {
  -webkit-filter: opacity(0.3);
  filter: opacity(0.3);
}

.ChannelAdd:hover {
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.ChannelFrame {
  color: #D7D7D7;
  height: 30px;
  transition: 0.3s;
  padding: 0px;
}

.ChannelSearch {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-top: 2px;
  margin-left: 12px;
  border: solid;
  border-width: 2px;
  border-color: #2fc7f8;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  width: 200px;
  height: 35px;
  line-height: 30px;
}

.ChannelFrame:hover {
  background-color: #104455;
}

.ChannelText {
  /* font-family: "Nunito"; */
  /* font-weight: 400; */
  margin-left: 15px;
  margin-right: 15px;
  height: 100%;
  position: static;
  font-size: 1.1em;
  line-height: 30px; /*centers text */
  overflow: hidden;
}

.SideBarActive {
  background-color: #1d7e9d;
  border-style: solid;
  border-color: #2fc7f8;
  color: #d7d7d7;
  border-width: 0px 4px 0px 0px;
}


.ChannelActive {
  font-weight: 800;
  color: #2fc7f8;
}

.SideBarActive:hover {
  background-color: #1d7e9d;
  border-style: solid;
  border-color: #2fc7f8;
  border-width: 0px 4px 0px 0px;
}

.PoweredByFrame {
  background-color: #151515;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.PoweredByText {
  font-family: 'Lato','Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  margin-left: 28px;
  color: #8a8a8a;
  border-top: 1px solid #484848;
  text-align: center;
  font-size: 1.6em;
  font-weight: 600;
  width: 160px;
  height: 50px;
  line-height: 50px;
}

.Avatar-Wrap {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.Avatar {
   position: relative;
   
  top: 50%;
  transform: translateY(-50%);
}

