.Header {
    width: 100vw;
    height: 40px;
    background-color: #FFFFFF;
    border-color: #979797;
    border-style: solid;
    border-width: 0px 0px 1px;
    position: absolute;
    top: 0;
    z-index: 2;
}

.PortalHeader {
    color: #000000;
    width: 100vw;
    height: 40px;
    background-color:#FFFFFF;
    border-color: #000000;
    border-style: solid;
    border-width: 0px 0px 1px;
    position: absolute;
    top: 0;
    z-index: 2;
}




.Hamburger {
    float: left;
    margin-top: 8px;
    margin-left: 15px;
}

.AdminHeaderControls {
    height: 100%;
    width: 200px;
    float: right;
    line-height: 40px;
}
