.CardContainerbg {
    width: 319px;
    height: 196px;
    padding: 0px;
    
    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    border-radius: 17px 17px 17px 17px;

    -webkit-box-shadow: 0px 0px 4px 0px #545454;
    -moz-box-shadow:    0px 0px 4px 0px #545454;
    box-shadow:         0px 0px 4px 0px #545454;

    position: relative;   
    background-repeat: no-repeat;
}

.CardContaineralpha {
    width: 319px;
    height: 196px;
       background-color:#EEEEEE;
       opacity: 0.85;
       
    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    border-radius: 17px 17px 17px 17px;
    position: absolute;   
}



.PortaldisplayAdjust {
    position: absolute;
    z-index: 2;
}


.PortalQuestion {
    /* height: 60px; */
    min-height: 80px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.CreateNewHeader {
    height: 60px;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}



