
.SearchFrame {
    position: sticky;
    bottom: 0;
    min-height: 100px;
    background-color: #2fc7f8;
    width: 100%;
    text-align: center;
    z-index: 0;
}

.SearchControls {
    padding-top: 30px;
    line-height: 100px;
    min-height: 30px;
    min-width: 500px;
    display: inline-block;
}
 
.SideBarFrame {
    width: 230px;
    height: 1800px;
   
    float: left;
    height: 100vh;
    position: relative;
    
}

.SideBarMenu {
    margin-top: 100px;
    margin-left: 30px;
}

.Annoucements {
    max-width: 900px;
    height: 100%;
    margin-left: 30px;
}

.AnnouncementContainer {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin:0px 0 35px;
}

.imgBox {
    border-radius: 5px;
  padding: 20px;
   grid-column: 1 / 1;
   grid-row: 1;

}

.contentBox {
  border-radius: 5px;
  padding-top: 15px;
 grid-column: 2 / span 2;;
        grid-row: 1;
 

}

.fullcontentBox {
    max-width: 900px;
    border-radius: 5px;
    padding-top: 15px;
    grid-row: 1;
}

.divider {
   
   grid-column: 1 / span 3;;
          grid-row: 2;
   
  
  }


  .PortalCard {
    color: rgb(45, 45, 45);
    width: 319px;
    height: 196px;
    /* background-color:#EEEEEE; */
    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    border-radius: 17px 17px 17px 17px;
    -webkit-box-shadow: 0px 0px 2px 0px #545454;
    -moz-box-shadow:    0px 0px 2px 0px #545454;
    box-shadow:         0px 0px 2px 0px #545454;
    position: relative;
  
}
.PortalCard:before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;

    /* background-image: url('../MockData/img/testimg1.jpeg'); */
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    opacity: 0.25;

    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    border-radius: 17px 17px 17px 17px;
}

.PortalCard:hover {
    -webkit-box-shadow: 0px 0px 2px 0px #2FC7F8;
    -moz-box-shadow:    0px 0px 2px 0px #2FC7F8;
    box-shadow:         0px 0px 5px 2px #2FC7F8;
}

.darklink a {
  color: #000000;
} 