
.BackToChan {

    margin-top: 5px;
    margin-bottom: 10px;
}

.PolicyFrame {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 800;
}

.Form {
    margin: 15px 0 5px 0;
    width: 750px;
}

.Disabled {
    color: lightgray;
}

.Accordion {
    margin: 5px 0 15px 0;
}

.CreateCondition {
    min-width: 500px;
    margin: 0px 0px 15px 20px;
}

.Condition {
    margin-top: 5px;
    margin-left: 20px;
    display: inline-block;
    min-width: 400px;

}

.ConditionLabel {
    float: left;
    font-weight: 400;
}


.ConditionCtrls {
    margin-left: 10px;
    float: right;
}

.Answer {
    width: 80%;
}

.AnswerField {
    background-color: #FFFFFF;
    padding: 5px;
    font-weight: 400;
    font-size: 1.3em;
    border: solid;
    width: 100%;
    border-color: #E0E1E2;
    border-width: 1px;
    height: 250px;
    -webkit-border-radius: 5px 5px 5px 5px; 
    -moz-border-radius: 5px 5px 5px 5px; 
    border-radius: 5px 5px 5px 5px; 
    /* overflow-y: auto; */
}

.EmojiLicense {
    font-size: .6em;
    margin-top: 5px;
    text-align: center;
    color: rgb(179, 179, 179);
}



.ResourceLinks {
    margin-top: 15px;

}


.TopSpace {
    margin-top: 15px;

}

.BuildLink {
    margin-top: 15px;
}

.AMenu {
    width: 80%;
    margin-top: 25px;

}

.AMenuResult {
    width: 100%;
    min-height: 300px;

}

/* This is required for the table to collapse properly */
td {
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.AttachedList {
    font-weight: 200px;
    margin-top: 40px;
    max-width: 500px;
}

  
  #PubControls{
    position: fixed;
    bottom: 40%;
    right: 10px;
    z-index: 6;
  }

  .AutomationsSelect {
      margin-top: 5px;
      min-width: 275px;
      max-width: 700px;

  }
  