.PolicyFrame {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 800;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
}

.BackToChan {
    /* grid-row: 1; */
    margin-left: 15px;
    margin-top: 15px;
}

.QFields {
    /* grid-row: 2; */
    max-width: 550px;
    margin-left: 15px;
    margin-top: 25px;
}

.RelatedEntry {
    max-width: 300px;
}

.RelatedTags {
    margin-top: 10px;
    max-width: 850px;
}

.TeamSelect {
    margin-left: 15px;
    margin-top: 25px;
    max-width: 850px;
}

.TeamSelectMenu {
    margin-top: 5px;
    width: 150px;
}

.SelectEditFrame {
    margin-top: 10px;
    max-width: 850px;
    height: 300px;
}

.SelectFrame {
    margin-top: 10px;
    max-width: 850px;
    height: 300px;
}

.EditFrame {
    margin-top: 10px;
    max-width: 850px;
    height: 300px;
}

.FrameDeactivated {
    display: none;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
    grid-gap: 10px;
}

