.LoginFrame {
    margin-top: 0;
    height: 100vh;
    width: 100%;
    background-color: #F9F9F9; 

}

.Login {
    padding: 15px;
    position: absolute;
    margin: 30vh 0 0 30vw;
    height: 300px;
    width: 600px;
    color: #2FC7F8;
    background-color: #000000;
    -webkit-border-radius: 17px 17px 17px 17px;
    -moz-border-radius: 17px 17px 17px 17px;
    border-radius: 17px 17px 17px 17px;
    -webkit-box-shadow: 0px 0px 2px 0px #545454;
    -moz-box-shadow:    0px 0px 2px 0px #545454;
    box-shadow:         0px 0px 2px 0px #545454;
}

.LoginWorkspace{
    background-color: #000000;
    padding: 0px;
    margin-left: 0px;
    color: #2fc7f8;
    text-align: left;
    font-size: 1.8em;
    font-weight: 600;
    width: 160px;
    height: 75px;
    line-height: 75px;
}