@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v17/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

body {
    /* color: rgb(51, 51, 51);  */
    font-family: 'Nunito', sans-serif; 
    background-color: #F9F9F9; 
  }
  
  .lightText a {
    /* color: darkslategray; */
  }
  
  h1 h2 h3 h4 h5 span {
    font-family: 'Nunito', sans-serif; 
    font-weight: 700;
  }
  .App {
    /* display: inline; */
  }
  
  
  .SideAndAction {
    /* margin-top: 75px; */
    /* z-index: 0; */
    display: flex;
    background-color: #F9F9F9; 
    padding: 0px;
    /* width: 100vw; */
    /* height: 100vh; */
    /* overflow-y: hidden; */
    /* position: absolute; */
  }
  
  .ActionFrame {
    width: 100%;
    /* width: auto; */
    /* padding-top: 50px; */
    padding: 10px;
    /* padding-bottom: 5px;  */
    /* margin-bottom: 0px;
    /* min-height: 700px; */
    /* height: 100vh;
    width: 100vw; */
  
    height: calc(100vh - 40px); /* was 100% */
    background-color: #F9F9F9; 
    overflow-y: auto;
    /* z-index: 0; */
    overflow-x: hidden;
    /* display: inline; */
    /* position: relative; */
  
  }
  
  .LoadingDim {
    opacity: 0.2;
  }
  
  .toast-style {
    text-align: center;
    font-family: 'Nunito', 'Lato';
    min-height: 50px !important;
    background: rgb(0, 183, 255);
    color: #FFFFFF;
    border-radius: 4px !important;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.3) !important;
  
  }
  
  blockquote {
    /* background: #f9f9f9; */
    /* border-left: 10px solid #ccc; */
    font-size: 2em !important;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    text-align: center;
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em !important;
    /* line-height: 0.1em; */
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote:after{
    color: #ccc;
    content: close-quote;
    font-size: 4em !important;
    /* line-height: 0.1em; */
    margin-left: 0.25em;
    vertical-align: -0.4em;
   
  }
  blockquote p {
    display: inline;
  }
  
  pre {
    color: rgb(223, 11, 121);
    background-color: #e3e3e3;
  }
  
  .SideBarContainerMobile {
    position: fixed;
    z-index: 50;
    border: 0 none;
  }
  
  .date-range {
    padding-left: 20px;
  }
  
  .font-800 {
    font-weight: 800
  }
  
  .form-row {
    display: flex;
    align-items: center;
  }
  
  
  .close-field {
    margin-top: 30px;
  }
  
  .close-field.mobile {
    display: none;
  }
  
  @media screen and (max-width: 767px) {
    .close-field.desktop {
      display: none!important;
    }
    .close-field.mobile {
      display: block;
      width: 100%;
      text-align: right;
    }
  }
  
  .blacktext {
    color: black;
  }

  .yh-table {
    .header {
      padding: 10px 0 10px;
      border-top: 1px solid #E6EAEE;
      border-bottom: 1px solid #E6EAEE;
      box-shadow: 0 1px 2px 0 rgba(0,0,0,.04);
      background-color: #F5F8FA;
      color: rgb(126, 131, 138);
      font-family: Rubik;
    }


    .rowe {
      padding: 10px 0;
      border-bottom: 1px solid #E6EAEE;
      vertical-align: middle;

      td {
        vertical-align: middle;
      }
    }

    tbody {
      tr:hover {
        background-color: rgba(196, 232, 255, 0.304);
      }
  }

    .softFont {
      color:  rgb(94, 98, 111) !important;
    }

    .yh-table-action {
      display: none;
    }

    .yh-table-action-wrapper:hover .yh-table-action {
      display: inline-block;
    }
  }
  
.muidatatable-custom tbody tr td {
    position: relative !important;
    z-index: 0 !important;
}
.surveySlider{
  display: none;
}
.surveySlider.slick-initialized {
  display: block;
}
.Hidden .surveySlider .slick-track,
.Hidden .surveySlider .slick-slide{
  width: 100vw !important;
}

.MultiSelectDropDown {
  .message { display: none;}
  .icon {
    display: none !important;
  }
}

.InboxItem:hover{
  
    box-shadow:0px 1px 3px 0px rgba(188, 188, 188, 0.2), 0px 2px 2px ;
  
}

.InboxDetails {
  height: 300px;
  padding: 25px;
  background-color: #ffffff;
}

.InboxListItem {
  min-height: 70px;
  border-right: 3px solid #2fc6f800;
}

.InboxListItem:hover {
  border-right: 3px solid #2fc7f8;
  background-color: #fafafa;
} 


.InboxListItemActive {
  border-right: 3px solid #28a5cf;
}

.InboxListItemUnread {
  border-right: 3px solid #e831f2;
}

.ActiveIfHover:hover {
  transition: color 0.5s ease;
  color: #2fc7f8;
}

.FixSemanticLabel {
  label {font-weight: normal !important}
}


.FixActiveButton {
  .ui.button.toggle.active{
      background-color: #6d21ba !important;
  }
  .ui.button.toggle.active:hover{
    background-color: #e831f2 !important;
}
 
}

.SubAction{
  background-color: #2185D0 !important;
  color: #fff !important;

    .icon {
      height: .8em;
      line-height: .8em;
    }
  

}

.SubAction:hover {
    background-color: rgb(43, 163, 255) !important;
}

.SubActionFeatured {
  background-color: #f52bd7 !important;
  color: #fff !important;
  height: 2.6em;
}

.SubActionFeatured:hover {
  background-color: #f948de !important;
}

.ActionButton {
  .input {
    button {
      background-color:#2185D0;
      color: #fff;
      
    }
   
  }

}

.SearchResultCompact {
  .content {
    padding: 0px !important;
  }

}

.InboxSearchBox {
  .input {
  width: 100%;
  }
}