.ThinBorder {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 10px;
    height: 100%;
}

.PlansContainer {
    width: 100%;
}

.PlanOption {
    border: 1px solid #c2c2c2;
    border-radius: 3px;
    display: block;
    margin: 5px;
    padding: 5px;
    /* width: 47%; */
    background-color: #fafafa;
    text-align: center;
    /* margin: 5px; */
}

.PlanDesc {
    font-size: 0.8em;
}


.PlanOption:hover {
    -webkit-box-shadow: 0px 0px 2px 0px rgb(167, 167, 167);
    -moz-box-shadow:    0px 0px 2px 0px rgb(167, 167, 167);
    box-shadow:         0px 0px 2px 0px rgb(167, 167, 167);
}

.PlanActive {
        background: #00aeff70;
}

.StripeBadge {
    margin-top: 2px;
    position: absolute;
    width: 100%;
    /* background-color: red; */
}

.cardinfo::placeholder {
    font-family: "Helvetica Rounded", Lato, Arial, sans-serif;
    font-size: 18px;
}

.cardinfo {
    font-family: "Helvetica Rounded", Lato, Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    height: 25px;
    top: 0;
    left: 0;
    width: 100%;
    border: 0px;
    margin-top: 5px;
}

.infoError {
    border-bottom: 2px solid red;
}