.TeamMenu {
    position: sticky;
    margin-top:20px;
}

.TeamActionFrame {
    margin-top: 30px;
    min-height: 500px;
    height: 20px;
    width: 100%;
}

.Segment {
    width: 90%;
    margin-top: 25px;
}

.Hidden {
    display: none;
    /* background-color: tomato; */
}

.WarningStyle {
    padding-top: 5px;
    padding-bottom: 10px;
    margin-top: -15px !important;
    font-size: .8em;
    color:#9f3a38;
    
}

.MoreHigh {
    margin-top: -30px !important;
  
}

.UserTable {
    min-height: 200px;
    max-width: 700px;
    overflow-y: auto;
}