.TeamMenu {
    position: sticky;
    margin-top:20px;
}

.TeamActionFrame {
    margin-top: 30px;
    min-height: 500px;
    height: 20px;
    width: 100%;
}

.Segment {
    width: 90%;
    margin-top: 25px;
}

.Visable {
   
}

.Hidden {
    display: none;
    background-color: tomato;
}